{% block body %}

<!-- ALLBOX -->
<section class="pt-8 pt-md-11">
    <div class="container" style="margin-bottom: 15px">
        <div class="row">
            <div class="col-12">

                <!-- Heading -->
                <h2 class="mb-0"
                    style="background-color: #28A5C5;
                        border-radius: 5px;
                        color: #FFF;
                        font-size: 5rem;
                        text-align: center;
                        width: 45%;
                        margin-top: 15px;
                        display: block;
                        margin-right: auto;
                        margin-left: auto;
                    ">
                    Tous les colis :
                </h2>

            </div>
        </div>
        <!-- / .row -->
        <div class="row">
                <div class="col-12">

                    <!-- Card -->
                    <div class="card card-row shadow-light-lg mb-6">
                        <div class="row gx-0">
                            <p
                                    class="col-12 col-md-6 bg-cover card-img-start"
                                    style="background-image: url(img/test.jpg);
                                margin-top: 15px;
                        ">

                                <!-- Image (placeholder) -->
                                <img src="" width="646" height="255" alt="...">

                            </p>
                            <div class="col-12 col-md-6">

                                <!-- Body -->
                                <a href="#!" class="card-body">

                                    <!-- Heading -->
                                    <h3>N° du Coli :</h3>
                                    <h4>Nombre de colis :</h4>

                                    <!-- Text -->
                                    <p class="mb-0 text-muted">
                                        Labo de Chargement :
                                    </p>

                                    <p class="mb-0 text-muted">
                                        Labo de Livraison :
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->
</section>

{% endblock %}