{% block card %}
    <!-- PARTENAIRES -->
    <section class="pt-8 pt-md-11">
        <div class="container" style="margin-bottom: 15px">
            <div class="row">
                <div class="col-12">

                    <!-- Heading -->
                    <h2 class="mb-0"
                        style="background-color: #28A5C5;
                        border-radius: 25px;
                        color: #FFF;
                        font-size: 5rem;
                        text-align: center;
                        width: 55%;
                        margin-top: 15px;
                        display: block;
                        margin-right: auto;
                        margin-left: auto;
                        font-family: 'Playfair Display', sans-serif;
                    ">
                        Nos partenaires :
                    </h2>

                </div>
            </div>
            <!-- / .row -->
            <div class="row" style="margin-top: 30px; margin-bottom: 30px">
                    <div class="col-12">

                        <!-- Card -->
                        <div class="card card-row shadow-light-lg mb-6" style="border: none">
                            <div class="row gx-0">
                                <img
                                    src="/img/test.jpg"
                                    alt="test"
                                    class="mx-auto d-block"
                                    style="width: 648px;
                                        height: 335px;
                                        margin-top: 15px;
                                        border-radius: 15px 0 0 15px;
                                ">

                                <div
                                    class="col-12 col-md-6"
                                    style="background: black;
                                    color: #FFF;
                                    font-size: 30px;
                                    border-radius: 15px 15px 15px 15px;
                                ">

                                <!-- Body -->
                                <div class="card-body" style="font-family: 'Playfair Display', sans-serif">

                                    <!-- Heading -->
                                    <ul>
                                        <li>Staphyt</li>
                                        <li>SGS</li>
                                        <li>Redebel</li>
                                        <li>Syngenta</li>
                                        <li>Bayer</li>
                                        <li>Testapi</li>
                                        <li>BioTek</li>
                                    </ul>

                                </div>

                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- / .row -->
        </div>
        <!-- / .container -->
    </section>
{% endblock %}