<!-- FOOTER -->
<footer class="py-8 py-md-11 bg-light" style="font-family: 'Montserrat', sans-serif;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">

                <img src="/img/logo%20colisfroid.png" alt="logo">

            </div>

            <div class="col-12 col-md-4 col-lg-2">

                <!-- Heading -->
                <h6 class="fw-bold text-uppercase text-white-700"
                    style="color: #28A5C5"
                >
                    Menu
                </h6>

                <!-- List -->
                <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
                    <li class="mb-3">
                        <a href="{{ path('vehicules') }}" class="text-reset">
                            Nos véhicules
                        </a>
                    </li>
                    <li class="mb-3">
                        <a href="{{ path('a_propos') }}" class="text-reset">
                            A propos
                        </a>
                    </li>
                    <li class="mb-3">
                        <a href="{{ path('contact') }}" class="text-reset">
                            Nous contactez
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-md-4 col-lg-4">

                <!-- Heading -->
                <h6 class="fw-bold text-uppercase text-white-700"
                    style="color: #28A5C5"
                >
                    Informations
                </h6>

                <!-- TEXT -->
                <p class="text-gray-600 mb-2">
                    ColisFroid est une entreprise de transport de fret express.
                </p>
            </div>

            <div class="col-12 col-md-4 col-lg-2">

                <!-- Heading -->
                <h6 class="fw-bold text-uppercase text-white-700"
                    style="color: #28A5C5"
                >
                    Mentions légales
                </h6>

                <!-- List -->
                <ul class="list-unstyled text-muted mb-0">
                    <li class="mb-3">
                        <p class="text-reset">
                            EURL depuis 1994
                        </p>
                    </li>
                </ul>
            </div>

        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->
</footer>